<section class="gradient-custom img-fluid h-auto">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-3">
        <div class=" text-white" style="border-radius: 1rem;">
          <div class="card-body  text-center">
              <form action="/home" method="post">
                <h2 class="text-primary"> Game World</h2>
              <p class="text-white-50 mb-5">Please enter your UserName and password</p>
              <div class="form-outline form-white mb-4 ">
                <small class="form-text">{{userErr}}</small>
                <small class="form-text">{{passErr}}{{allErr}}</small>
                <input name="UserName" type="text"  class="form-control form-control-lg" placeholder="Username"/>
              </div> 
              <div class="form-outline form-white mb-4">
                <input name="password" type="password"  class="form-control form-control-lg" placeholder="Password"/>
              </div>
              <button class="btn btn-outline-light btn-lg px-5" type="submit" >Login</button>
              </form>
        </div>
      </div>
    </div>
  </div>
</section>
